<div>
    <a href="/"><img src="img/logo-ecommerce.png" alt="eCommerce Logo"></a>

    <section id="management-buttons">
        <a href="manage-products">Manage Products</a>
        <a href="register-user">Register User</a>
        <a href="login-user">Login</a>
    </section>
</div>  
