<div class="top-nav">
    <div class="content-width">

        <a href="/"><i class="fas fa-home fa-2x"></i></a>

        <section id="management-buttons">
            <a href="manage-products"><i class="fas fa-plus-square"></i> Manage Products</a>

            <% if (!user) { %>
                <a href="register-user"><i class="fas fa-user-plus"></i> Register User</a>
                <a href="login-user"><i class="fas fa-sign-in-alt"></i> Login</a>
            <%} else { %>
                <a href="shopping-cart"><i class="fas fa-cart-plus"></i> Shopping Cart</a>
                <a href="logout"><i class="fas fa-sign-out-alt"></i></i> Logout</a>   
            <% } %>

        </section>
    </div>
</div>  
