/* Reset box sizing */
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content-width {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
}

.warning-message {
    color: #f86060;
    font-size: 1.2em;
    font-weight: bold;
}

.error {
    font-style: italic;
    color: #f86060;
    font-size: 1.2em;
    font-weight: bold;
}


.top-nav {
    background: #403042;
    height: 50px;
    display: flex;
    align-items: center;
}

.top-nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav #management-buttons {
    width: 100%;
    max-width: 1190px;
    display: flex;
    justify-content: flex-end;
}

.top-nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 500ms;
}

.top-nav a:hover {
    color: #dddddd;    
}

.top-nav i {
    margin-right: 3px;
    margin-left: 25px;
}

.logo-search {
    background: #4C394E;
    height: 82px;
}

.logo-search div {    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-search input[type="text"] {
    max-width: 902px;
    padding: 10px 30px;
}

.logo-search input[type="submit"] {
    max-width: 200px;
    background: #10bbd5;    
    transition: background 500ms;
    border: none;
    
}

.logo-search input[type="submit"]:hover {
    background: #29D5EF;
}

.logo-image {
    height: 100%;
    max-height: 62px;
    width: auto;
    margin-right: 50px;
}

.categories {
    background: #10bbd5;
    height: 40px;
    
}

.categories div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categories div button {
    width: 100%;
    max-width: 25%;
    line-height: 40px;
    font-size: 1.2em;
    background-color: transparent;
    font-weight: bold;
    color: #fff;
    transition: background 500ms;
}

.categories div button:hover {
    background: #29D5EF;
} 

main {
    background: #ffffff;
    padding: 20px 10px;
    min-height: 80vh;
    line-height: 1.3em;
}

h1 {
    margin: 10px 0;
    color: #403042;
}

p {
    margin: 5px 0;
}

header section {
    display: flex;
}

input, select {
    border: 1px solid #a5a5a5;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 10px 5px 0;

}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 70%;
}

input[type="submit"] {
    width: 30%;
    background-color: #10bbd5;
    color: #fff;
    transition: all 100ms ease-in-out;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #29D5EF;
}


.item-box {
    margin-top: 30px;
    max-width: 22%;
    flex-grow: 1;
    margin: 15px 20px;
    
}

.item-box h2 {
    margin-bottom: 20px;
    text-align: center;
}
¨
.item-box figure {
    height: 300px;
    width: 100%;
}

.item-box figure img {
    display: block;
    margin: 0 auto;
    height: 300px;
    text-align: center;
}

.item-price-cart {
    background: #10bbd5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 2px 10px;
    border-radius: 5px;
}

.item-price-cart p {
    background-color: #ffffff;
    padding: 8px 10px;
    width: 70%;
    color: #10bbd5;
    font-weight: bold;
    text-align: center;
}

.item-price-cart button {
    background: transparent;
    width: 30%;
    text-align: center;
    color: #ffffff;
    outline:none;
}

.item-price-cart i {
    background: #10bbd5;
    color: #ffffff;  
    transition: color 500ms;
}

.item-price-cart i:hover {
    color: #403042;
    cursor: pointer;
}

.item-data {
    padding: 10px 20px;
}

.item-data p:first-of-type {
    height: 40px;
    overflow: hidden;
}

/* SHOPPING CART STYLE */

.shopping-cart-table {
    margin-top: 50px;
    width: 100%;
    max-width: 1390px;
    border-collapse:separate;
}

.shopping-cart-table thead {
    background: #10bbd5;
    color: #ffffff;
}

.shopping-cart-table tr td {
    text-align: center;
}

.shopping-cart-table tr td:first-of-type {
    width: 70%;
    text-align: left;
}


table th, table td { 
    padding: .75em 1em;
}

.shopping-cart-table tbody tr:nth-child(odd){ 
    
}

.shopping-cart-table tbody tr:nth-child(even){
    background: rgb(238, 238, 238);
}

.shopping-cart-table input.quantity {
    width: 60px;
}

.remove-from-cart-button {
    cursor: pointer;
}

/*  
// MEDIUM SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:600px) {    

    #itemDetails {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        margin: 0 -15px;
    }
}

/*  
// BIG SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:1025px) {     
    main {
        padding: 20px 0;
    }

}