<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Items</title>
    
</head>
<body>
    <h1>Get Items</h1>
    
    <p>Choose one item to display our options: book, dvd, smartphone</p>
    <p>(type your choice in the box bellow using all small caps).</p>

    <label for="item"></label>
    <input type="text" name="item" id="item">

    <input type="submit" value="Get Items" onclick="getItems()">
    <div id="itemDetails"></div>
    
    <script src="js/functions.js"></script>
</body>    
</html>