<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Items</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="content-width">
            <h1>Get Items</h1>
    
            <p>Choose one item to display our options: book, dvd, smartphone</p>
            <p>(type your choice in the box bellow using all small caps).</p>
    
            
            <label for="item"></label>
            <input type="text" name="item" id="item">
    
            <input type="submit" value="Get Items" id="getItemButton">

            
            
            <div id="itemDetails"></div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="js/functions.js"></script>
</body>    
</html>