<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | eCommerce</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <header class="content-width">
        
        <%- include ../partials/header.ejs %>
        <%- include ../partials/nav.ejs %>
        
    </header>
    <main>
        <div class="content-width">
                            
            

            <h1>Items in Stock</h1>
            
            <div id="itemDetails"></div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="js/functions.js"></script>
</body>    
</html>