<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | eCommerce</title>
    
    <script src="https://kit.fontawesome.com/d92ab94eeb.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body onload="loadAllItems()">
    <header>
        
        <%- include ../partials/header.ejs %>
        <%- include ../partials/nav.ejs %>
        
    </header>
    <main>
        <div class="content-width">
                            
            

            <h1>Items in Stock</h1>
            
            <div id="itemDetails"></div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="js/functions.js"></script>
    <script src="js/cart-functions.js"></script>
</body>    
</html>