<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Products | eCommerce</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <header class="content-width">
        
        <%- include ../partials/header.ejs %>
        
    </header>
    <main>
        <div class="content-width">

            <h1>Manage Products</h1>

            <form action="addProduct" method="POST" id="add-product-form">                
                
                <label for="product_name"></label>
                <input type="text" name="product_name" id="product_name" placeholder="Product Name">

                <label for="product_price"></label>
                <input type="text" name="product_price" id="product_price" placeholder="Product Price">

                <label for="product_description"></label>
                <input type="text" name="product_description" id="product_description" placeholder="Product Description">

                <label for="product_image"></label>
                <input type="text" name="product_image" id="product_image" placeholder="Product Image URL">

                <label for="product_category_name"></label>
                <select id="product_category_name" name="product_category_name">
                    <option value="1">Book</option>
                    <option value="2">Smartphone</option>
                    <option value="3">DVD</option>
                    <option value="7">Boardgame</option>
                </select>

                <label for="product_stock"></label>
                <input type="text" name="product_stock" id="product_stock" placeholder="Product Stock Amount">

                <input type="submit" value="Add Product" id="addProduct">

            </form>

            <div id="product-added-success"></div>

        </div>
    </main>
    <footer>

    </footer>
    <script src="js/functions.js"></script>
</body>    
</html>