<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User Account | eCommerce</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <header class="content-width">
        
        <%- include ../partials/header.ejs %>
        
    </header>
    <main>
        <div class="content-width">

            <h1>Create User Account</h1>

            <form action="/register" method="post">
                <input type="email" placeholder="Email" name="email" id="email"><br>
                <input type="text" placeholder="Username" name="username" id="username"><br>
                <input type="password" placeholder="Password" name="password" id="password"><br>
                <input type="submit">
            
            </form>

            <div id="register-created-success"></div>

        </div>
    </main>
    <footer>

    </footer>
    <script src="js/functions.js"></script>
</body>    
</html>
